html, body {
font-family: 'Lato', sans-serif;  font-size: 16px;
background: linear-gradient(315deg, rgba(0, 0, 0, 0.51) 0%, rgba(12, 167, 173, 0.96) 45%, rgb(12, 167, 173) 50%, rgba(12, 167, 173, 0.96) 53%, rgba(0, 0, 0, 0.51) 100%)
}
.button,
.navbar-item:hover {
  background-color: rgb(78, 87, 116) !important;
}

.front-copy {
  line-height: 35px !important;
}
.about-copy {
  padding-top: 40px !important;
}
